<!DOCTYPE html><html>
    <head>
        <title>Ability</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
    
        <div>
            <h3>{{ability.name}}</h3>
        </div>
    
        <div>
            <h5>{{ability.description}}</h5>
        </div>
        
        <div>
            <h5>Type: {{ability.type}} </h5>
        </div>
        
                
        <div>
            <h4>Ghosts having this ability:</h4>
            <table class="table">
            <tbody>
                <tr ng-repeat="ghost in ghosts">
                    <td scope="row"><a ng-href="#!/ghosts/{{ghost.id}}">{{ghost.name}}</a></td>
                </tr>
            </tbody>
        </table>
        </div>
        
        
    </body>
    
</html>
