<html>
    <head>
        <title>Create a new ability</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3>Create new ability</h3>

        <form name="form" novalidate class="form-horizontal">

            <div class="form-group" ng-class="{'has-error': !(form.name.$valid)}">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input placeholder="name" id="name" type="text" ng-minlength="3" name="name" class="form-control" ng-model="ability.name" required/>
                    <p class="help-block" ng-show="form.name.$error.required">The field <i>name</i> is required.</p>
                    <p class="help-block" ng-show="form.name.$error.minlength">The name must be at least 3 characters long.</p>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': !(form.address.$valid)}">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <input placeholder="description" id="description" type="text" ng-minlength="0" name="description" class="form-control" ng-model="ability.description"/>
                </div>
            </div>
            
            
            <div class="form-group">
                <label for="type" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
                    <select id="color" name="type" class="form-control" ng-model="ability.type" required>
                            <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
                    </select>
                    <p class="help-block" ng-show="form.type.$error.required">The field <i>type</i> is required.</p>    
                </div>
            </div>
           
            <button ng-disabled="!form.$valid" ng-click="create(ability)" class="btn btn-primary" type="submit" >Create</button>
        </form>

    </body>
</html>