<!DOCTYPE html><html>
    <head>
        <title>Ability</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
    
        <div>
            <h3>{{ability.name}}</h3>
        </div>
    
        <div>
            <h4>Description: </h4>
            <h5>{{ability.description}}</h5>
        </div>
        
        <div>
            <h4>Type: </h4>
            <h5>{{ability.type}}</h5>
        </div>
        
        
    </body>
    
</html>
