<!DOCTYPE html>
<html>
    <head>
        <title>Ghosts</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <h3>List of ghosts</h3>

        <br>

        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>NAME</th>
                    <th>LIVES IN</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ghost in ghosts">
                    <td scope="row">{{ghost.id}}</td>
                    <td scope="row"><a ng-href="#!/ghosts/{{ghost.id}}">{{ghost.name}}</a></td>
                    <td scope="row">{{ghost.house.name}}</td>
                    <td>
                        <button ng-click="deleteGhost(ghost)" type="submit" class="btn btn-primary">Delete</button>
                    </td>
                    <td>
                        <a href="#!/ghosts/update/{{ghost.id}}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Update
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Add a new ghost -->
        <a href="#!/ghost/newghost" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Create ghost
        </a>
    </body>
</html>
