<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
    
    <body>
        <h3>Welcome to the Haunted Houses application!</h3>
        <br>
        <p>
            This is the home page of the Haunted Houses application. To be able to manage the system, you need to log in first.
        </p>
        <p>
            There are three types of users within the application:
            <br>
            &emsp; the application <i>administrators</i>,<br>
            &emsp; house <i>owners</i>, and<br>
            &emsp; house <i>tenants</i>.<br>
        </p>
        <p>
            Within the application, there is a number of different user accounts prepared for you in advance.
            Visit the log in page for the full list of available accounts.
        </p>
    </body>
    
</html>