<!DOCTYPE html>
<html>
    <head>
        <title>Houses</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <h3>List of houses</h3>

        <br>

        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>NAME</th>
                    <th>ADDRESS</th>
                    <th>OWNER'S ID</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="house in houses">
                    <td scope="row">{{house.id}}</td>
                    <td scope="row"><a ng-href="#!/houses/{{house.id}}">{{house.name}}</a></td>
                    <td scope="row">{{house.address}}</td>
                    <td scope="row">{{house.ownerID}}</td>
                </tr>
            </tbody>
        </table>

        <!-- Add a new house: -->
        <a href="#!/houses/newhouse" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Create house
        </a>

    </body>
</html>
